<p id="message">
  <img src="loader.gif" />
</p>
<div id="status">
  <div><img id="instance-loader" src="loader-small.gif" align="left" /> Instance Status: <span id="instance-status"></span></div>
  <div><img id="instance-loader" src="loader-small.gif" align="left" /> System Status: <span id="system-status"></span></div>
</div>
<p id="actions">
  <button class="btn btn-primary" id="create">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Create
  </button>
  <button class="btn btn-success" id="start">
    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    Start
  </button>
  <button class="btn btn-info" id="stop">
    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
    Stop
  </button>
  <button class="btn btn-warning" id="restart">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
    Restart
  </button>
  <button class="btn btn-danger" id="terminate">
    <span class="glyphicon glyphicon-eject" aria-hidden="true"></span>
    Terminate
  </button>
</p>
